.App {
  /* text-align: center; */
  /* display: grid; */
  grid-template-rows: auto auto auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-form {
  padding-top: 0.45rem;
  padding-right: calc(45px + 1.5rem);
  padding-bottom: 0.45rem;
  padding-left: 1.5rem;
}

.col-lg-9 {
  flex: 0 0 75%
}

.col-lg-3 {
  flex: 0 0 25%
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}